.main{
	width: 600px;
	height: 600px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.top{
	width: 100%;
	height: 10%;
	position: relative;
}
.middle{
	width: 50%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-weight: bold;
	font-size: 28px;
	font-style: Georgia;
}

#number{
	border: 5px solid pink;
	padding: 15px;
	background: #fff;
	font-size: 14px;
	width: 200px;
	background: purple;
	font-weight: bold;
	color: white;

}

#submit{
	padding: 15px;
	background: pink;
	color: white;
	border: 5px solid purple;
	font-size: 14px;
	font-weight: bold;

}

#clear{
	padding: 15px;
	background: pink;
	color: white;
	border: 5px solid purple;
	font-size: 14px;
	font-weight: bold;

}

.numStyle{
	list-style-type: none;
}